@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;600;800&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Sans Serif';
}

.navbar-bg-color{
    background-color: #342E37;
}

.btn-color{
    background-color: #FAFFFD;
}
#nav-styles {
    /* padding: 3rem;
    display: flex;
    justify-content: flex-end; */
    background-color: #342E37;
    height: 4rem;
}

#nav-styles a{
    color: #FAFFFD;
}

#navbar-btn{
    color: #FAFFFD;
}

nav a{
    color: #FAFFFD;
    font-weight: 600;
    text-decoration: none;
}

#container-main {
    background-color: #6E8387;
    height: 100vh;
}

.btn-ejercicios{
    width: 8rem;
    height: 8rem;
    border-color: #342E37;
    border-width: 3px ;
}

.btn-ejercicios a{
    text-decoration: none;
    color: #342E37;
}

/* i{
    position: absolute;
} */


/* EJERCICIO1*/
#main_ejercicio1 {
    height: 100vh;
    padding: 5rem;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
}



h1{
    margin-bottom: 2rem;
    color: #342E37;
    font-size: 3rem;
    text-align: center;
}


#exercises_list a{
    font-size: 1rem;
    font-weight: 600;
    color: #342E37;
}


/* ___________EJERCICIO 1___________ */
h2{
    margin-bottom: 2rem;
    color: #342E37;
    font-size: 3rem;
    text-align: center;
}

#btn_comenzar{
    padding: 1rem;
    width: fit-content;
    background-color: #FA824C;
    border-radius: 5px;
    font-weight: 800;
}

#juego {
    display: none;
    
}

#input-numero-magico{
    padding: 1rem;
    border-radius: 5px;
}

#btn-adivinar{
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}


/* ___________EJERCICIO 2____________ */

#main_ejercicio2 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
}

#container_form {
    background-color:#FA824C;
    height: 100vh;
    width: 700px;
    padding: 1rem 0;
}

.btn_ejercicio2 {
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}

/* ____________EJERCICIO 4___________ */
#main-ejercicio4 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-date-hour {
    background-color: #FA824C;
    color: #FAFFFD;
    width: auto;
    height: auto;
}

#date{
    font-size: 3rem;
}

#hour{
    font-size: 3rem;
}

/* __________EJERCICIO 5___________ */

#main-ejercicio5 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-cronometro {
    background-color: #FA824C;
    color: #FAFFFD;
    font-size: 600;
    width: 60%;
    height:auto;
}

#reloj{
    font-size: 4rem;
    font-weight: 600;
    color: #FAFFFD;
    padding: 2rem;
    text-align: center;
}

.btn-cronometro {
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}


.ocultar{
    display: none;
}


/* ____________EJERCICIO 6_______________ */

#main-ejercicio5 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-temporizador {
    background-color: #FA824C;
    color: #FAFFFD;
    font-size: 600;
    width: auto;
    height:auto;
}

#temporizador{
    font-size: 5rem;
    font-weight: 600;
    color: #FAFFFD;
    padding: 2rem;
    text-align: center;
}

.input-tempo {
    width: 110px !important;
    height: 50px;
    background-color: #FAFFFD;
    border-radius: 5px !important;
    border-color: #342E37 !important;
    color: #FA824C;
    font-size: 1rem;
    font-weight: 600;
}

.input-tempo::placeholder{
    color: #FA824C;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.btn-temporizador {
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}


.ocultar{
    display: none;
}

