@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;600;800&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Sans Serif';
}


nav {
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    background-color: #6E8387;
}

nav a{
    color: #342E37;
    font-weight: 600;
}

#main_ejercicio1 {
    height: 100vh;
    padding: 5rem;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
}

#container__list{
    padding: 2rem 1rem;

    background-color: #FA824C;
}

h1{
    margin-bottom: 2rem;
    color: #342E37;
    font-size: 3rem;
    text-align: center;
}


#exercises_list a{
    font-size: 1rem;
    font-weight: 600;
    color: #342E37;
}


/* ___________EJERCICIO 1___________ */
h2{
    margin-bottom: 2rem;
    color: #342E37;
    font-size: 3rem;
    text-align: center;
}

#btn_comenzar{
    padding: 1rem;
    width: fit-content;
    background-color: #FA824C;
    border-radius: 5px;
    font-weight: 800;
}

#juego {
    display: none;
    
}

#input-numero-magico{
    padding: 1rem;
    border-radius: 5px;
}

#btn-adivinar{
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}


/* ___________EJERCICIO 2____________ */

#main_ejercicio2 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
}

#container_form {
    background-color:#FA824C;
    height: 100vh;
    width: 700px;
    padding: 1rem 0;
}

.btn_ejercicio2 {
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}

/* ____________EJERCICIO 4___________ */
#main-ejercicio4 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-date-hour {
    background-color: #FA824C;
    color: #FAFFFD;
    font-size: 600;
    width: 200px;
    height: 50px;
}

/* __________EJERCICIO 5___________ */

#main-ejercicio5 {
    height: 100vh;
    background-color: #6E8387;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-cronometro {
    background-color: #FA824C;
    color: #FAFFFD;
    font-size: 600;
    width: 300px;
    height:200px;
}

#reloj{
    font-size: 800;
    font-weight: 600;
    color: #FAFFFD;
    padding: 2rem;
    text-align: center;
}

.btn-cronometro {
    padding: 1rem;
    border-radius: 5px;
    background-color: #342E37;
    color: #FAFFFD;
    font-size: 600;
}


.ocultar{
    display: none;
}